body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

form {
    margin: 0 auto;
    max-width: 800px;
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}